/* Global */
* {
  box-sizing: border-box;
}

/* Format body */
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/* Format h1 to h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Format paragraph */
p {
  margin: 0;
}

/* Format class .header */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: gray;
  color: #ffffff;
}

/* Fomrat div where it is a descendent of class .header */
.header div {
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Format anchor link in class: header */
.header a {
  color: black;
}

/* Format the grid container */
.grid-container {
  display: grid;
  grid-template-rows: 100px 100px 525px 100px 100px;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
    "hero-banner hero-banner hero-banner"
    "aboutMeHeading aboutMeText aboutMeText"
    "workHeading horiseon horiseon"
    "workHeading portfolio1 portfolio2"
    "contactMeHeading contactMeText contactMeText";
  gap: 10px;
  background-color: white;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/* Format the hero banner class */
.hero-banner {
  position: relative;
  grid-area: hero-banner;
  background-image: url(./wood.jpg);
  height: 100%;
  background-size: cover;
}

/* Format About Me heading */
.aboutMeHeading {
  grid-area: aboutMeHeading;
  text-align: end;
  font-size: 35px;
  padding-right: 10px;
  border-right: 5px solid black;
}

/* Format Work heading */
.workHeading {
  grid-area: workHeading;
  text-align: end;
  font-size: 35px;
  padding-right: 10px;
  border-right: 5px solid black;
}

/* Format Contact Me heading */
.contactMeHeading {
  grid-area: contactMeHeading;
  text-align: end;
  font-size: 35px;
  padding-right: 10px;
  border-right: 5px solid black;
}

/* Format Horiseon grid */
.horiseon {
  position: relative;
  grid-area: horiseon;
  background-image: url(./Horiseon.png);
  border: 5px solid turquoise;
}

/* Format title for Horiseon and 2 other placeholders for portfolio */
.horiseon-title,
.portfolio1-title,
.portfolio2-title {
  display: flex;
  position: absolute;
  flex-flow: wrap;
  color: white;
  background-color: black;
  bottom: 5px;
  left: 0px;
  background-color: cyan;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Format portfolio1 placeholder */
.portfolio1 {
  position: relative;
  grid-area: portfolio1;
  background-image: url(./portfolio1.jpg);
  height: 100%;
  background-size: cover;
  border: 5px solid turquoise;
}

/* Format portfolio2 placeholder */
.portfolio2 {
  position: relative;
  grid-area: portfolio2;
  background-image: url(./portfolio2.jpg);
  height: 100%;
  background-size: cover;
  border: 5px solid turquoise;
}

/* Format Contact Me text */
.contactMeText {
  grid-area: contactMeText;
  text-align: center;
}

/* Format About Me text */
.aboutMeText {
  grid-area: aboutMeText;
}

/* Format the flex container */
.flex-container {
  display: flex;
  position: absolute;
  top: 51px;
  right: 63px;
  background-color: brown;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Format break */
break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/* Format h1 */
h1 {
  display: inline-block;
  font-size: 48px;
  color: black;
  background-color: dimgray;
}

/* Format li */
li {
  display: inline-block;
  margin-left: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas:
      "hero-banner"
      "aboutMeHeading"
      "aboutMeText" 
      "workHeading"
      "horiseon""
      "workHeading"
      "portfolio1"
      "portfolio2"
      "contactMeHeading"
      "contactMeText";
  }
}